@model Lib.Models.Apartment

@using (Html.BeginForm(controllerName: "Home", actionName: "SelectApartment", htmlAttributes: new { id = "formAparts" }, routeValues: new { id = Model.ID }, method: FormMethod.Get))
{
    <button>
        <div class="p-2">
            <div class="row">
                <p>* * * * *</p>
            </div>
            <div class="row">
                <div class="col">
                    @if (Model.RepresentativePicture != null)
                    {
                        <img src="@Model.RepresentativePicture.Base64ForHtml" alt="representative apart img" style=" max-height: 220px;" />
                    }
                    @*@if (Model.Pictures != null)
                        {
                        foreach (var img in Model.Pictures)
                        {
                        if (img.IsRepresentative)
                        {
                        <img src="@img.Base64ForHtml" alt="representative apart img" style=" max-height: 220px;" />
                        }
                        }
                        }*@
                </div>
                <div class="col">
                    <h5><b>@Html.DisplayFor(model => model.Name)</b></h5>
                    <ul>
                        <li>Grad:  @Html.DisplayFor(model => model.City)</li>
                        <li>Beach distance: @Html.DisplayFor(model => model.BeachDistance)</li>
                        <li>Rooms: @Html.DisplayFor(model => model.TotalRooms)</li>
                        <li>Max adults: @Html.DisplayFor(model => model.MaxAdults)</li>
                        <li>Max children: @Html.DisplayFor(model => model.MaxChildren)</li>
                    </ul>
                    <p>@Html.DisplayFor(model => model.Price)€</p>
                </div>
            </div>
        </div>
    </button>
}