@*@model IEnumerable<Lib.Models.Apartment>*@
@using MVC_Apartmani.Models.ViewModels
@model IndexApartmentViewModel

@{
    ViewBag.Title = "Index";

    SelectList ddlCities = new SelectList(
        items: Model.Cities,
        dataTextField: "Name",
        dataValueField: "Name",
        selectedValue: TempData["City"]
    );

    SelectList ddlStatuses = new SelectList(
        items: Model.Statuses,
        dataTextField: "NameEng",
        dataValueField: "NameEng",
        selectedValue: TempData["Status"]
    );

    SelectList ddlSortOptions = new SelectList(
        items: new List<SelectListItem> {
            new SelectListItem{ Value = "Asc"},
            new SelectListItem{ Value = "Desc"}
        },
        dataTextField: "Value",
        dataValueField: "Value"
    );
    
    SelectList ddlValueSortOptions = new SelectList(
        items: new List<SelectListItem> {
            new SelectListItem{ Value = "Price"},
            new SelectListItem{ Value = "Name"}
        },
        dataTextField: "Value",
        dataValueField: "Value"
    );

}

<div class="row mb-3">
    <div class="col-3">
        <h2>Rwa apartments</h2>
    </div>
    <div class="col p-2">
        <div class="row">
            <div class="col-4">
                <label class="p-1">City:</label>
            </div>
            <div class="col-8">
                @Html.DropDownList(
                    optionLabel: "",
                    selectList: ddlCities,
                    name: "IDDrzava",
                    htmlAttributes: new { @class = "form-control" }
                    )
            </div>
        </div>
    </div>

    <div class="col p-2">
        <div class="row">
            <div class="col-4">
                <label class="p-1">Status:</label>
            </div>
            <div class="col-8">
                @Html.DropDownList(
                    optionLabel: "",
                    selectList: ddlStatuses,
                    name: "IDStatus",
                    htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="col p-2">
        <div class="row">
            <div class="col-6">
                <label class="p-1">Children:</label>
            </div>
            <div class="col-6">
                @Html.TextBox(name: "ChildrenNumber", htmlAttributes: new { @class = "form-control",
                @Value = TempData["Children"] == null ? "" : TempData["Children"].ToString(),
                type = "number" }, value: null)
                @*@Html.TextBoxFor()*@
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class="row">
            <div class="col-6">
                <label class="p-1">Adults:</label>
            </div>
            <div class="col-6">
                @Html.TextBox(name: "AdultNumber", htmlAttributes: new { @class = "form-control", type = "number", 
                @Value = TempData["Adults"] == null ? "" : TempData["Adults"].ToString() }, value: null)
            </div>
        </div>
    </div>
    <div class="col p-2">
        <div class="row">
            <div class="col-6">
                <label class="p-1">Rooms:</label>
            </div>
            <div class="col-6">
                @Html.TextBox(name: "RoomNumber", htmlAttributes: new { @class = "form-control", type = "number",
               @Value = TempData["Rooms"] == null ? "" : TempData["Rooms"].ToString() }, value: null)
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <label>Search</label>
    <div class="col-10">
        @Html.TextBox(name: "ApartmentSearch", htmlAttributes: new { @class = "form-control" }, value: null)
    </div>
    <div class="col-2">
        <button id="btnSearch" class="btn btn-primary">Filter results</button>
    </div>
</div>

<p id="info" class="row"></p>

<div id="ResultsContainer" class="row mb-3">
    <div class="d-flex flex-wrap mb-3">
        <h3>Results</h3>
        <div class="d-flex flex-wrap ms-3">
            <div class="">
                <label class="p-1">Sort by</label>
            </div>
            <div class="">
                @Html.DropDownList(
                    optionLabel: "",
                    selectList: ddlValueSortOptions,
                    name: "SortByValue",//SortPrice
                    htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="d-flex flex-wrap ms-3">
            @*<div class="">
            <label class="p-1">Sort by name</label>
        </div>*@
            <div class="">
                @Html.DropDownList(
                    optionLabel: "",
                    selectList: ddlSortOptions,
                    name: "SortType", //SortName
                    htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>
    <hr />
    <div id="Results">
    </div>
</div>

<div id="homeApartContainer">
    @foreach (var item in Model.Apartments)
    {
        @Html.Partial(partialViewName: "_ApartmentContainer", model: item)
    }
</div>

@section scripts {
    <script>

    $("#Results").hide();

        $("#ApartmentSearch").autocomplete({
            source: '@Url.Action(actionName: "GetAutocompleteApartments", controllerName:"Ajax")',
            minLength: 0,
            select: function (e, ui) {
                e.preventDefault();
                const apartment = {
                    name: ui.item.label,
                    id: ui.item.value
                };
                $(this).val(apartment.name);
               showApartments(apartment.id);
            },
            search: function (e, ui) {
                if ($("#ApartmentSearch").val() == "") {
                    $("#Results").hide();
                    $("#homeApartContainer").show();
                }
            },
            focus: function (e, ui) {
                e.preventDefault();
                $(this).val(ui.item.label);
            }
        });

        function showApartments(id){
            $.ajax({
                method: 'GET',
                url: '@Url.Action(actionName: "GetApartment", controllerName:"Ajax")',
                data: { id },
                success: function (apartments) {
                    if (apartments != null) {
                        $("#Results").fadeIn(500);
                        $("#homeApartContainer").hide();
                        $('p#info').html("");

                        $(apartments).each(function (index, apart) {
                            $.ajax({
                                method: 'GET',
                                url: '@Url.Action(actionName: "GetSingleApartment", controllerName:"Ajax")',
                                data: { id: apart.ID },
                                success: function (data) {
                                    $('#Results').empty().append(data);
                                }
                            })
                    })
                    } else {
                        $("#Results").hide();
                        $('p#info').html("Nema tog apartmana.");
                    }
                },
            })
        }

        $("#btnSearch").click(FilterApartments);
        //$("#btnSearch").click(showApartments());

        $("#IDDrzava").change(function () {
            FilterApartments();
            SortApartments();
        });
        $("#IDStatus").change(function () {
            FilterApartments();
            SortApartments();
        });
        $("#ChildrenNumber").change(function () {
            FilterApartments();
            SortApartments();
        });
        $("#AdultNumber").change(function () {
            FilterApartments();
            SortApartments();
        });
        $("#RoomNumber").change(function () {
            FilterApartments();
            SortApartments();
        });

        function FilterApartments() {
                $.ajax({
                    method: 'GET',
                    url: '@Url.Action(actionName: "FilterApartments", controllerName:"Ajax")',
                    data: {
                        city: $("#IDDrzava").val(),
                        status: $("#IDStatus").val(),
                        children: $("#ChildrenNumber").val(),
                        adults: $("#AdultNumber").val(),
                        rooms: $("#RoomNumber").val()
                    },
                    success: function (apartments) {
                        console.log(apartments);
                        if (apartments != null) {
                            $("#Results").empty();
                            $("#Results").fadeIn(500);
                            $("#homeApartContainer").hide();
                            $('p#info').html("");

                            $(apartments).each(function (index, apart) {
                                $.ajax({
                                    method: 'GET',
                                    url: '@Url.Action(actionName: "GetSingleApartment", controllerName:"Ajax")',
                                    data: { id: apart.ID },
                                    success: function (data) {
                                        $('#Results').append(data);
                                    }
                                })
                            })
                        } else {
                            $("#Results").hide();
                            $('p#info').html("Nema tog apartmana.");
                        }
                    },
                })
            };

        //$("#SortPrice").change(function () {
        //    $('select[name="SortName"] option:selected').attr("selected", false);
        //    $('select[name="SortName"] option[value=""]').attr("selected", "selected");
        //    SortApartments;
        //});
        //$("#SortName").change(function () {
        //    $('select[name="SortPrice"] option:selected').attr("selected", false);
        //    $('select[name="SortPrice"] option[value=""]').attr("selected", "selected");
        //    SortApartments;
        //});

        $("#SortByValue").change(function () {
            console.log($("#SortType option:selected").text())
            if ($("#SortType option:selected").text().trim()) {
                SortApartments();
            }
        });
        $("#SortType").change(function() {
            if ($("#SortByValue option:selected").text().trim()) {
                SortApartments();
            }
        });

        function SortApartments() {
                $.ajax({
                    method: 'GET',
                    url: '@Url.Action(actionName: "SortApartments", controllerName:"Ajax")',
                    data: {
                        valueTosort: $("#SortByValue").val(),
                        sortType: $("#SortType").val()
                    },
                    success: function (apartments) {
                        if (apartments != null) {
                            $("#Results").empty();
                            $("#Results").fadeIn(500);
                            $("#homeApartContainer").hide();
                            $('p#info').html("");

                            $(apartments).each(function (index, apart) {
                                $.ajax({
                                    method: 'GET',
                                    url: '@Url.Action(actionName: "GetSingleApartment", controllerName:"Ajax")',
                                    data: { id: apart.ID },
                                    success: function (data) {
                                        $('#Results').append(data);
                                    }
                                })
                            })
                        } else {
                            $("#Results").hide();
                            $('p#info').html("Nema tog apartmana.");
                        }
                    },
                })
            };

        function SortApartments() {
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action(actionName: "WriteCookie", controllerName:"Ajax")',
                    data: {
                        city: $("#IDDrzava").val(),
                        status: $("#IDStatus").val(),
                        children: $("#ChildrenNumber").val(),
                        adults: $("#AdultNumber").val(),
                        rooms: $("#RoomNumber").val()
                    },
                    success: function (data) {
                        console.log(data);
                    }
                })
            };

        function getDateFromJSON(jsonDate) {
            var startIndex = jsonDate.indexOf("(") + 1;
            var endIndex = jsonDate.lastIndexOf(")");
            var ms = Number(jsonDate.substring(startIndex, endIndex));
            return new Date(ms).toLocaleDateString();
        }

    </script>
}
