@using MVC_Apartmani.Models.ViewModels
@model LoginViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="w-50 p-5 container">
    <h1>Login</h1>
    <hr />
        @using (Html.BeginForm("Login", "Home", null, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")
            <div class="">
                @Html.LabelFor(m => m.UserName, new {@class= "form-label" })
                @Html.TextBoxFor(m => m.UserName,  new {@class= "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "")
            </div>
            <div class="mb-3 ">
                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="mb-3 form-check">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</body>
</html>
